outputs/

/data/
outputs/data/

!/src/ntempvh/data/
!/src/ntempvh/data/*.py

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
.env/
.envrc

.DS_Store
.idea/
.vscode/
*.egg-info/


__pycache__/
*.pyc
.venv/
/data/
outputs/
.DS_Store
files.txt
project_dump.txt